# Ignore Terraform files
**/.terraform/**
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Ignore ca files
**/certs/**
**/certs/**
**/certs/**
**/certs/**
**/certs/**

# Ignore venv
worker-app/venv

# Ignore data files
worker-app/data/*
